<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="lemminxExtension" name="Lemminx Extension" schema="schema/lemminxExtension.exsd"/>
   <extension
         point="org.eclipse.ui.editors">
      <editorContentTypeBinding
            contentTypeId="org.eclipse.core.runtime.xml"
            editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
       <editorContentTypeBinding
            contentTypeId="org.eclipse.wildwebdeveloper.rnc"
            editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
   </extension>

   <extension
         point="org.eclipse.ui.genericeditor.presentationReconcilers">
      <presentationReconciler
            class="org.eclipse.tm4e.ui.text.TMPresentationReconciler"
            contentType="org.eclipse.wildwebdeveloper.rnc">
      </presentationReconciler>
   </extension>

	<extension
	      point="org.eclipse.ui.genericeditor.reconcilers">
	   <reconciler
	         class="org.eclipse.wildwebdeveloper.xml.internal.autoclose.XMLAutoCloseTagReconciler"
	         contentType="org.eclipse.core.runtime.xml">
	   </reconciler>
	</extension>

   <!-- XML Language -->   
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.tm4e.language_pack.xsl"
            id="org.eclipse.wildwebdeveloper.xsl"
            name="XSL"
            priority="low">
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="xsd"
            id="org.eclipse.wildwebdeveloper.xsd"
            name="XSD"
            priority="low">
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="dtd"
            id="org.eclipse.wildwebdeveloper.dtd"
            name="DTD"
            priority="low">
      </content-type>
      <!-- RelaxNG -->
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="rng"
            id="org.eclipse.wildwebdeveloper.rng"
            name="RNG"
            priority="low">
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="rnc"
            id="org.eclipse.wildwebdeveloper.rnc"
            name="RNC"
            priority="low">
      </content-type>
   </extension>
   
   <extension
         point="org.eclipse.lsp4e.languageServer">
      <server
            class="org.eclipse.wildwebdeveloper.xml.internal.XMLLanguageServer"
            serverInterface="org.eclipse.wildwebdeveloper.xml.internal.XMLLanguageServerAPI"
            clientImpl="org.eclipse.wildwebdeveloper.xml.internal.XmlLanguageClientImpl"
            id="org.eclipse.wildwebdeveloper.xml"
            label="LemMinX"
            singleton="true">
      </server>
      <contentTypeMapping
            contentType="org.eclipse.core.runtime.xml"
            id="org.eclipse.wildwebdeveloper.xml">
      </contentTypeMapping>
      <contentTypeMapping
            contentType="org.eclipse.wildwebdeveloper.xsl"
            id="org.eclipse.wildwebdeveloper.xml">
      </contentTypeMapping>
      <contentTypeMapping
            contentType="org.eclipse.wildwebdeveloper.xsd"
            id="org.eclipse.wildwebdeveloper.xml">
      </contentTypeMapping>
      <contentTypeMapping
            contentType="org.eclipse.wildwebdeveloper.dtd"
            id="org.eclipse.wildwebdeveloper.xml">
      </contentTypeMapping>
      <contentTypeMapping
            contentType="org.eclipse.wildwebdeveloper.rng"
            id="org.eclipse.wildwebdeveloper.xml">
      </contentTypeMapping>      
   </extension>
 
   <extension
         point="org.eclipse.tm4e.registry.grammars">
      <grammar
            path="grammars/dtd/dtd.tmLanguage.json"
            scopeName="text.xml.dtd">
      </grammar>
            <grammar
            path="grammars/rnc/rnc.tmLanguage.json"
            scopeName="source.rnc">
      </grammar>
      <scopeNameContentTypeBinding
            contentTypeId="org.eclipse.core.runtime.xml"
            scopeName="text.xml">
      </scopeNameContentTypeBinding>
      <scopeNameContentTypeBinding
            contentTypeId="org.eclipse.wildwebdeveloper.xsd"
            scopeName="text.xml">
      </scopeNameContentTypeBinding>
      <scopeNameContentTypeBinding
            contentTypeId="org.eclipse.wildwebdeveloper.dtd"
            scopeName="text.xml.dtd">
      </scopeNameContentTypeBinding>
      <scopeNameContentTypeBinding
            contentTypeId="org.eclipse.wildwebdeveloper.rnc"
            scopeName="source.rnc">
      </scopeNameContentTypeBinding>
   </extension>
   
   <extension
         point="org.eclipse.tm4e.languageconfiguration.languageConfigurations">
      <languageConfiguration
            contentTypeId="org.eclipse.wildwebdeveloper.rnc"
            path="language-configurations/rnc/rnc.language-configuration.json">
      </languageConfiguration>
   </extension>
   
   <extension
         point="org.eclipse.tm4e.ui.snippets">
      <snippet
            name="XML Sample"
            path="snippets/xml/sample.xml"
            scopeName="text.xml">
      </snippet>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.icons">
      <icon
            contentType="org.eclipse.core.runtime.xml"
            icon="icons/xmlEditorIcon.png">
      </icon>
   </extension>
   
   <extension
         point="org.eclipse.ui.preferencePages">
         <page
            class="org.eclipse.wildwebdeveloper.xml.internal.ui.preferences.XMLPreferencePage"
            id="org.eclipse.wildwebdeveloper.xml.internal.ui.preferences.XMLPreferencePage"
            name="%XMLPreferencePage.name">
         </page>
         <page
            category="org.eclipse.wildwebdeveloper.xml.internal.ui.preferences.XMLPreferencePage"
            class="org.eclipse.wildwebdeveloper.xml.internal.ui.preferences.XMLCatalogPreferencePage"
            id="org.eclipse.wildwebdeveloper.xml.internal.ui.preferences.XMLCatalogPreferencePage"
            name="%XMLCatalogPreferencePage.name">
            <keywordReference id="org.eclipse.wildwebdeveloper.xml.ui.xmlcatalogs"/>
         </page>
         <page
            category="org.eclipse.wildwebdeveloper.xml.internal.ui.preferences.XMLPreferencePage"
            class="org.eclipse.wildwebdeveloper.xml.internal.ui.preferences.XMLCodeLensPreferencePage"
            id="org.eclipse.wildwebdeveloper.xml.internal.ui.preferences.XMLCodeLensPreferencePage"
            name="%XMLCodeLensPreferencePage.name">
            <keywordReference id="org.eclipse.wildwebdeveloper.xml.ui.xmlcodelens"/>
         </page>
         <page
            category="org.eclipse.wildwebdeveloper.xml.internal.ui.preferences.XMLPreferencePage"
            class="org.eclipse.wildwebdeveloper.xml.internal.ui.preferences.XMLFormattingPreferencePage"
            id="org.eclipse.wildwebdeveloper.xml.internal.ui.preferences.XMLLFormattingPreferencePage"
            name="%XMLFormattingPreferencePage.name">
            <keywordReference id="org.eclipse.wildwebdeveloper.xml.ui.xmlformatting"/>
         </page>
         <page
            category="org.eclipse.wildwebdeveloper.xml.internal.ui.preferences.XMLPreferencePage"
            class="org.eclipse.wildwebdeveloper.xml.internal.ui.preferences.XMLValidationPreferencePage"
            id="org.eclipse.wildwebdeveloper.xml.internal.ui.preferences.XMLValidationPreferencePage"
            name="%XMLValidationPreferencePage.name">
            <keywordReference id="org.eclipse.wildwebdeveloper.xml.ui.xmlvalidation"/>
         </page>
	</extension>
	
	<!-- Keywords for preference and properties pages -->
	<extension point="org.eclipse.ui.keywords">
		<keyword
			label="%XMLCatalogPreferencesPage.preferenceKeywords.xmlcatalog"
			id="org.eclipse.wildwebdeveloper.xml.ui.xmlcatalogs"/>
		<keyword
			label="%XMLCodeLensPreferencesPage.preferenceKeywords.xmlcodelens"
			id="org.eclipse.wildwebdeveloper.xml.ui.xmlcodelens"/>
		<keyword
			label="%XMLCodeLensPreferencesPage.preferenceKeywords.xmlformatting"
			id="org.eclipse.wildwebdeveloper.xml.ui.xmlformatting"/>
		<keyword
			label="%XMLValidationPreferencesPage.preferenceKeywords.xmlvalidation"
			id="org.eclipse.wildwebdeveloper.xml.ui.xmlvalidation"/>			
    </extension>
    
	<extension
         point="org.eclipse.core.runtime.preferences">
         <initializer
            class="org.eclipse.wildwebdeveloper.xml.internal.ui.preferences.XMLPreferenceInitializer">
        </initializer>
   </extension>
   
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.wildwebdeveloper.xml.internal.commands.AssociateGrammarHandler"
            commandId="xml.open.binding.wizard">                        
      </handler>      
   </extension>
</plugin>
