version: 2
updates:
- package-ecosystem: maven
  directory: "/"
  schedule:
    interval: daily
  open-pull-requests-limit: 10
- package-ecosystem: github-actions
  directory: "/"
  schedule:
    interval: daily
- package-ecosystem: npm
  directory: "/org.eclipse.wildwebdeveloper"
  schedule:
    interval: daily
  open-pull-requests-limit: 10
- package-ecosystem: npm
  directory: "/org.eclipse.wildwebdeveloper.tests/testProjects/angular-app"
  schedule:
    interval: daily
  open-pull-requests-limit: 10
- package-ecosystem: npm
  directory: "/org.eclipse.wildwebdeveloper.tests/testProjects/HelloWorldTS"
  schedule:
    interval: daily
  open-pull-requests-limit: 10
- package-ecosystem: npm
  directory: "/org.eclipse.wildwebdeveloper.tests/testProjects/eslint"
  schedule:
    interval: daily
  open-pull-requests-limit: 10
- package-ecosystem: npm
  directory: "/org.eclipse.wildwebdeveloper.tests/testProjects/vue-app"
  schedule:
    interval: daily
  open-pull-requests-limit: 10
