---
import * as path from "node:path"; // unused import tested by TestAstro.java
import BaseLayout from "../layouts/base.astro";
---
<BaseLayout title="Main Page">
  <h1>Hello from Astro!</h1>
</BaseLayout>
