<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            id="org.eclipse.bluesky.parent"
            name="BlueSky supported web dev file"
            priority="normal"/>
      <content-type
            base-type="org.eclipse.bluesky.parent"
            file-extensions="less"
            id="org.eclipse.bluesky.less"
            name="LESS"
            priority="normal">
      </content-type>
      <content-type
            base-type="org.eclipse.bluesky.parent"
            file-extensions="js"
            id="org.eclipse.bluesky.js"
            name="JavaScript"
            priority="normal">
      </content-type>
      <content-type
            base-type="org.eclipse.bluesky.parent"
            file-extensions="scss,sass"
            id="org.eclipse.bluesky.scss"
            name="SCSS/SASS"
            priority="normal">
      </content-type>
      <content-type
            base-type="org.eclipse.bluesky.parent"
            file-extensions="css"
            id="org.eclipse.bluesky.css"
            name="CSS"
            priority="normal">
      </content-type>
      <content-type
            base-type="org.eclipse.bluesky.parent"
            file-extensions="json"
            id="org.eclipse.bluesky.json"
            name="JSON"
            priority="normal">
      </content-type>
      <content-type
            base-type="org.eclipse.bluesky.parent"
            file-extensions="yaml"
            id="org.eclipse.bluesky.yaml"
            name="YAML"
            priority="normal">
      </content-type>
      <content-type
            base-type="org.eclipse.bluesky.parent"
            file-extensions="html"
            id="org.eclipse.bluesky.html"
            name="HTML"
            priority="normal">
      </content-type>
      <content-type
            base-type="org.eclipse.bluesky.parent"
            file-extensions="ts"
            id="org.eclipse.bluesky.ts"
            name="TypeScript"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editorContentTypeBinding
            contentTypeId="org.eclipse.bluesky.parent"
            editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.lsp4e.languageServer">
      <server
            class="org.eclipse.bluesky.CSSLanguageServer"
            id="org.eclipse.bluesky.css"
            label="CSS/LESS/SCSS Language Server (VSCode)">
      </server>
      <contentTypeMapping
            contentType="org.eclipse.bluesky.css"
            id="org.eclipse.bluesky.css">
      </contentTypeMapping>
      <contentTypeMapping
            contentType="org.eclipse.bluesky.scss"
            id="org.eclipse.bluesky.css">
      </contentTypeMapping>
      <contentTypeMapping
            contentType="org.eclipse.bluesky.less"
            id="org.eclipse.bluesky.css">
      </contentTypeMapping>
      <server
            class="org.eclipse.bluesky.HTMLLanguageServer"
            id="org.eclipse.bluesky.html"
            label="HTML Language Server (VSCode)">
      </server>
      <contentTypeMapping
            contentType="org.eclipse.bluesky.html"
            id="org.eclipse.bluesky.html">
      </contentTypeMapping>
      <server
            class="org.eclipse.bluesky.JSonLanguageServer"
            id="org.eclipse.bluesky.json"
            label="JSon Language Server (VSCode)">
      </server>
      <contentTypeMapping
            contentType="org.eclipse.bluesky.json"
            id="org.eclipse.bluesky.json">
      </contentTypeMapping>
      <server
            class="org.eclipse.bluesky.JSTSLanguageServer"
            id="org.eclipse.bluesky.jsts"
            label="JavaScript-TypeScript Language Server">
      </server>
      <contentTypeMapping
            contentType="org.eclipse.bluesky.js"
            id="org.eclipse.bluesky.jsts">
      </contentTypeMapping>
      <contentTypeMapping
            contentType="org.eclipse.bluesky.ts"
            id="org.eclipse.bluesky.jsts">
      </contentTypeMapping>
   </extension>
   <extension
         point="org.eclipse.tm4e.registry.grammars">
      <grammar
            path="grammars/css.plist"
            scopeName="source.css">
      </grammar>
      <scopeNameContentTypeBinding
            contentTypeId="org.eclipse.bluesky.css"
            scopeName="source.css">
      </scopeNameContentTypeBinding>
      <grammar
            path="grammars/html.json"
            scopeName="text.html.basic">
      </grammar>
      <scopeNameContentTypeBinding
            contentTypeId="org.eclipse.bluesky.html"
            scopeName="text.html.basic">
      </scopeNameContentTypeBinding>
      <grammar
            path="grammars/JavaScript.tmLanguage.json"
            scopeName="source.js">
      </grammar>
      <scopeNameContentTypeBinding
            contentTypeId="org.eclipse.bluesky.js"
            scopeName="source.js">
      </scopeNameContentTypeBinding>
      <grammar
            path="grammars/JSON.tmLanguage"
            scopeName="source.json">
      </grammar>
      <scopeNameContentTypeBinding
            contentTypeId="org.eclipse.bluesky.json"
            scopeName="source.json">
      </scopeNameContentTypeBinding>
      <grammar
            path="grammars/YAML.tmLanguage"
            scopeName="source.yaml">
      </grammar>
      <scopeNameContentTypeBinding
            contentTypeId="org.eclipse.bluesky.yaml"
            scopeName="source.yaml">
      </scopeNameContentTypeBinding>
      <grammar
            path="grammars/TypeScript.tmLanguage.json"
            scopeName="source.ts">
      </grammar>
      <scopeNameContentTypeBinding
            contentTypeId="org.eclipse.bluesky.ts"
            scopeName="source.ts">
      </scopeNameContentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.presentationReconcilers">
      <presentationReconciler
            class="org.eclipse.tm4e.ui.text.TMPresentationReconciler"
            contentType="org.eclipse.bluesky.parent">
      </presentationReconciler>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.bluesky.debug.ToogleLineBreakpointHandler"
            commandId="org.eclipse.debug.ui.commands.ToggleLineBreakpoint">
      </handler>
   </extension>
</plugin>
