<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.wildwebdeveloper.json.schema">
      <schema
            pattern="dep.yml"
            url="https://json.schemastore.org/dependabot">
      </schema>
      <schema
            pattern="depp.yml"
            url="platform:/plugin/org.eclipse.wildwebdeveloper.tests/resources/dependabot.json">
      </schema>
   </extension>
</plugin>
