<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="wildwebdeveloper" sequenceNumber="14">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
	<repository location="https://download.eclipse.org/eclipse/updates/latest/"/>
	<unit id="org.eclipse.ui.tests.harness" version="0.0.0"/>
	<unit id="org.eclipse.pde.junit.runtime" version="0.0.0"/>
	<unit id="org.eclipse.jdt.junit5.runtime" version="0.0.0"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
	<repository location="https://download.eclipse.org/releases/latest/"/>
	<unit id="org.eclipse.xtend.lib" version="0.0.0"/>
	<unit id="org.eclipse.platform.ide" version="0.0.0"/>
	<unit id="org.eclipse.ui.genericeditor" version="0.0.0"/>
	<unit id="org.eclipse.jdt.annotation" version="0.0.0"/>
	<unit id="org.objectweb.asm" version="0.0.0"/>
	<unit id="org.hamcrest.core" version="0.0.0"/>
	<unit id="junit-jupiter-api" version="0.0.0"/>
	<unit id="javax.xml.stream" version="0.0.0"/>
	<unit id="org.eclipse.wst.xml.core" version="0.0.0"/>
	<!-- Product deps -->
	<unit id="org.eclipse.epp.package.common.feature.feature.group" version="0.0.0"/>
	<unit id="org.eclipse.epp.mpc.feature.group" version="0.0.0"/>
	<unit id="org.eclipse.egit.feature.group" version="0.0.0"/>
	<unit id="org.eclipse.egit.gitflow.feature.feature.group" version="0.0.0"/>
	<unit id="org.eclipse.wst.server_ui.feature.feature.group" version="0.0.0"/>
	<unit id="org.eclipse.wst.server_adapters.feature.feature.group" version="0.0.0"/>
	<unit id="org.eclipse.tm.terminal.feature.feature.group" version="0.0.0"/>
	<unit id="org.eclipse.rse.feature.group" version="0.0.0"/>
	<unit id="org.eclipse.equinox.executable.feature.group" version="0.0.0"/>
	<unit id="org.eclipse.platform.ide" version="0.0.0"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
	<repository location="https://download.eclipse.org/tm4e/releases/latest/"/>
	<unit id="org.eclipse.tm4e.feature.feature.group" version="0.0.0"/>
	<unit id="org.eclipse.tm4e.language_pack.feature.feature.group" version="0.0.0"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
	<repository location="https://download.eclipse.org/mylyn/docs/releases/"/>
	<unit id="org.eclipse.mylyn.wikitext_feature.feature.group" version="0.0.0"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
	<repository location="https://download.eclipse.org/lsp4e/releases/latest/"/>
	<unit id="org.eclipse.lsp4e" version="0.0.0"/>
	<unit id="org.eclipse.lsp4e.debug" version="0.0.0"/>
	<unit id="org.eclipse.lsp4j" version="0.0.0"/>
	<unit id="org.eclipse.lsp4j.jsonrpc" version="0.0.0"/>
	<unit id="org.eclipse.lsp4j.jsonrpc.debug" version="0.0.0"/> 
	<unit id="org.eclipse.lsp4j.debug" version="0.0.0"/> 
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
	<repository location="http://download.eclipse.org/cbi/updates/license/"/>
	<unit id="org.eclipse.license.feature.group" version="0.0.0"/>
</location>
	<location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" label="Jakarta APIs" missingManifest="error" type="Maven">
		<dependencies>
			<dependency>
				<groupId>jakarta.enterprise</groupId>
				<artifactId>jakarta.enterprise.cdi-api</artifactId>
				<version>2.0.2</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>jakarta.interceptor</groupId>
				<artifactId>jakarta.interceptor-api</artifactId>
				<version>1.2.5</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>jakarta.servlet</groupId>
				<artifactId>jakarta.servlet-api</artifactId>
				<version>4.0.4</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>jakarta.transaction</groupId>
				<artifactId>jakarta.transaction-api</artifactId>
				<version>1.3.3</version>
				<type>jar</type>
			</dependency>
		</dependencies>
	</location>
	<location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" label="Apache Commons Compress" missingManifest="error" type="Maven">
		<dependencies>
			<dependency>
				<groupId>org.apache.commons</groupId>
				<artifactId>commons-compress</artifactId>
				<version>1.23.0</version>
				<type>jar</type>
			</dependency>
		</dependencies>
	</location>
	<location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" label="Google GSON" missingManifest="error" type="Maven">
		<dependencies>
			<dependency>
				<groupId>com.google.code.gson</groupId>
				<artifactId>gson</artifactId>
				<version>2.10.1</version>
				<type>jar</type>
			</dependency>
		</dependencies>
	</location>
</locations>
</target>